<!-- homepage -->
<div class="container mt-1">
    <div class="row">
        <% page.posts.each(function(post){ %>
        <div class="col-12 col-sm-6 p-2">
            <div id="image" class="float-left m-1">
                <img src="<%= firstimage(post) %>" class="rounded" style="height:100px;width:100px;object-fit:cover">
            </div>
            <p class="text-truncate mb-1">
                <b><%= post.title %></b>
            </p>
            <p class="text-secondary mb-1"><%- truncate(strip_html(post.content), {length: 32, omission: '...'}) %></p>
            <p class="text-secondary"><%= date(page.date) %></p>
            <a href="<%- url_for(post.path) %>" class="stretched-link"></a>
        </div>
        <% }) %>
    </div>
</div>

<!-- pagination -->
<!-- <nav class="mt-2 d-flex justify-content-center">
    <ul class="pagination">
        <%- paginator({
            prev_text: '上一页',
            next_text: '下一页',
            page_class:'page-link m-1',
            prev_class:'page-link m-1',
            next_class:'page-link m-1',
            space_class:'page-link m-1',
            current_class:'page-link active m-1',
        }) %>
    </ul>
</nav> -->