<div class="container col-md-12 col-lg-10 p-3">
    <div class="row gx-5">

        <!-- 正文 -->
        <div class="col-md-12 col-lg-9">
            <div class="page-header border-bottom">
                <h1><%- page.title %></h1>
            </div>

            <div class="text-secondary">
                分类:
                <%- list_categories(page.categories, {style: false, class:'text-muted ', show_count:false}) %>

                时间:
                <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished">
                    <%= date(page.date) %>
                </time>

                阅读:
                <span id="visit"></span>
            </div>

            <br>

            <article><%- page.content %></article>
        </div>

        <!-- 侧边栏 -->
        <div class="col-md-12 col-lg-3">
            <div id="widget" class="position-sticky d-flex flex-column justify-content-center align-items-center">
                <%- partial('_widget/bt') %>
                <%- partial('_widget/googlead') %>
            </div>
        </div>

    </div>
</div>

<style>
    img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
</style>

<script>
    // read count
    (async function() {
        // title
        let title = document.querySelector('h1').innerText

        // read
        let res = await fetch(`https://keyvalue.immanuel.co/api/KeyVal/GetValue/879xnsga/${title}`).then(res => res.json())
        let count = res || 0;
        let new_count = Number(count) + 1;

        // update
        // await fetch(``)
        await fetch(`https://keyvalue.immanuel.co/api/KeyVal/UpdateValue/879xnsga/${title}/${new_count}`, {
            method: 'POST'
        })

        // show
        document.querySelector('#visit').innerText = new_count;

    })()
</script>