<div class="container col-md-12 col-lg-10 mt-5">
    <div class="row gx-5">

        <!-- 正文 -->
        <article class="col-md-12 col-lg-9">
            <div class="page-header border-bottom mb-5">
                <h1><%- page.title %></h1>
            </div>

            <p class="text-secondary">发布时间：
                <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished">
                    <%= date(page.date) %>
                </time>
            </p>

            <br>

            <%- page.content %>
        </article>

        <!-- 侧边栏 -->
        <div class="col-md-12 col-lg-3">
            <div id="widget" class="position-sticky" style="top:4rem;">
                <%- partial('_widget/googlead') %>
            </div>
        </div>

    </div>
</div>

<style>
    img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
</style>